/* Stylesheet for Broadway website. Sarah Wynn2018/02/19 */

a {
  font-size: 18px;
  color: white;
}

body {
  text-align: center;
  font-family: Helvetica;
}

footer {
  font-size: 11px;
  color: white;
  text-align: left;
  background-color: dimgrey;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h4 {
  /* background */
  background-image: url("css/resources/the_flatiron_building.png");
  background-color: dimgrey;

  /* text */
  font-size: 23px;
  font-weight: bold;
  color: white;
}

#copyright {
  font-size: 11px;
  color: white;
  background-color: dimgrey;
}
